@use "variables" as *;
@use "mixins";

.form {
  @include mixins.flex(column);
  gap: 1.5rem;
  border-radius: 3rem;

  .modal & {
    gap: 2rem; 
    
    @media (max-width: 768px) {
      gap: 1.5rem;
    }
  }

  &__label {
    flex-grow: 1;
    font-size: 1.2rem; 
    margin-bottom: 0.5rem;
    
    .modal & {
      font-size: 1.3rem;
      margin-bottom: 0.75rem;
    }
  }

  &__input {
    background: transparent;
    color: white;
    border: $defaultBorder;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    outline-color: $secondary;

    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: lighten($primaryLight, 23%);
    }
 
    .modal & {
      padding: 1.25rem;
      font-size: 1.5rem;
      
      @media (max-width: 768px) {
        padding: 1rem;
        font-size: 1.4rem;
      }
    }
  }
}